{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Tutor Login</h3>
                    <form method="POST">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" required> <!--The browser interprets this attribute and automatically validates that the value entered follows the basic format of an email address (contains @, has text before and after the @, etc.).-->
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="{{ url_for('tutor_register') }}" class="btn btn-link">Register as Tutor</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}